In [1]:
from datetime import date
#(año, mes, día)
d1 = date(2021,5,24)
print(type(d1))

<class 'datetime.date'>

In [2]:
#Clase datetime.date

print('Día:', d1.day)
print('Mes:', d1.month)
print('Año:', d1.year)

Día: 24
Mes: 5
Año: 2021

In [3]:
#Método date.today() nos devuelve la fecha de hoy
d1 = date.today()
print(d1)
print('Día:', d1.day)
print('Mes:', d1.month)
print('Año:', d1.year)

2024-06-26
Día: 26
Mes: 6
Año: 2024

In [4]:
from datetime import time
#Hora, minutos, segundos y microsegundos
t1 = time(15,20,13,40)
print(type(t1))

<class 'datetime.time'>

In [5]:
print('Hora', t1.hour)
print('Minutos', t1.minute)
print('Segundos', t1.second)
print('Microsegundos', t1.microsecond)

Hora 15
Minutos 20
Segundos 13
Microsegundos 40

In [6]:
from datetime import datetime

fecha_actul_hora = datetime.now()

print(fecha_actul_hora)

2024-06-26 20:22:26.023010

In [7]:
import datetime

fecha = datetime.datetime.now()
fecha

datetime.datetime(2024, 6, 26, 20, 22, 26, 43049)

In [8]:
d1 = datetime.datetime(2024,5,20,11,20,30,44)
print(d1)
print('Día:', d1.day)
print('Mes:', d1.month)
print('Año:', d1.year)

print('Hora', d1.hour)
print('Minutos', d1.minute)
print('Segundos', d1.second)
print('Microsegundos', d1.microsecond)

2024-05-20 11:20:30.000044
Día: 20
Mes: 5
Año: 2024
Hora 11
Minutos 20
Segundos 30
Microsegundos 44

In [9]:
#Weekday()
#{Lunes 0, Martes 1, Miércoles: 2, Jueves 3, Viernes 4, Sábado 5, Domingo 6}

print(d1)
print(d1.weekday())

2024-05-20 11:20:30.000044
0

In [10]:
#Formato ISO -- AAAA-MM-DD 
# 3 de Abril de 2024 --> Formato ISO : 2024-04-03
#{Lunes 1, Martes 2, Miércoles: 3, Jueves 4, Viernes 5, Sábado 6, Domingo 7}

d1 = datetime.datetime.now()
d2 = datetime.datetime(2024,4,3,9,52,40,40)
print(d1)
print(d1.weekday())
print(d1.isoweekday())

print('---------------')

print(d2)
print(d2.weekday())
print(d2.isoweekday())

2024-06-26 20:22:26.102006
2
3
---------------
2024-04-03 09:52:40.000040
2
3

Formato ISO de fecha es un estándar internacional que establece una notación numérica para representar fechas y horas de forma universal. El formato ISO de fecha es AAAA-MM-DD, donde YYYY representa el año, MM el mes y DD el día del mes. Por ejemplo, la fecha "3 de abril de 2002" en formato ISO se escribe como "2002-04-03".

In [11]:
#Método de isocalendar()
#valor_1: indica el año en formato ISO
#valor_2: indica la semana del año en formato ISO
#valor_3: indica el día de la semana en formato ISO

d1.isocalendar()

datetime.IsoCalendarDate(year=2024, week=26, weekday=3)

In [12]:
#Obtener fechas con otro métodos

d1_datetime = date.fromisoformat('2020-04-23')
print(d1_datetime)
print(type(d1_datetime))

2020-04-23
<class 'datetime.date'>

In [13]:
d1_Iso = date(2020,4,25).isoformat()
print(d1_Iso)
print(type(d1_Iso))

2020-04-25
<class 'str'>

## <font color=#003d5c>_.strptime()_ </font>
### Este método nos permite leer una cadena de texto con una fecha en un formato indeterminado como un objeto de clase `.datetime`

|Formatos|Descripción|
|-------|-----------|
|`%a`|Nombre del día de la semana abreviado|
|`%A`|Nombre del día de la semana completo|
|`%w`|Día de la semana como número decimal|
|`%d`|Día del mes como número de dos dígitos|
|`%-d`|Día del mes como número decimal|
|`%b`|Nombre del mes abreviado|
|`%B`|Nombre del mes completo|
|`%m`|Mes del año número de dos dígitos|
|`%-m`|Mes del año como número decimal|
|`%y`|Año sin centenas como número de dos dígitos|
|`%-y`|Año sin centenas como número decimal|
|`%Y`|Año completo|
|`%H`|Hora en 24 hrs. con dos dígitos|
|`%-H`|Hora en 24 hrs. como número decimal|
|`%I`|Hora en 12 hrs. con dos dígitos|
|`%-I`|Hora en 12 hrs. como número decimal|
|`%M`|Minutos con dos dígitos|
|`%-M`|Minutos como número decimal|
|`%S`|Segundos con dos dígitos|
|`%-S`|Segundos como número decimal|

In [14]:
fecha = '22 April, 2024 13:20:13'

d1 = datetime.datetime.strptime(fecha, '%d %B, %Y %H:%M:%S')
print(d1)
print(type(d1))

2024-04-22 13:20:13
<class 'datetime.datetime'>

## <font color=#003d5c>_datetime.timedelta_ </font>
### La clase timedelta nos permite operar entre fechas.

In [19]:
d1 = datetime.datetime.now()
print("Fecha de hoy:", d1)

#Obtener la fecha de pasado mañana 

d2 = d1 + datetime.timedelta(days=2)

print('Fecha: 2 días a partir de hoy: ', d2)

#Dos semanas a partir de hoy

d3 = d1 + datetime.timedelta(weeks=2)
print('Fecha: 2 semanas a partir de hoy: ', d3)

print('----------------------------------------')
#Obtener una fecha anterior

#Obtener la fecha de pasado mañana 

d4 = d1 - datetime.timedelta(days=2)

print('Fecha: 2 días antes de hoy: ', d4)

#Dos semanas a partir de hoy

d5 = d1 - datetime.timedelta(weeks=2)
print('Fecha: 2 semanas antes de hoy: ', d5)

Fecha de hoy: 2024-06-26 20:36:41.131248
Fecha: 2 días a partir de hoy:  2024-06-28 20:36:41.131248
Fecha: 2 semanas a partir de hoy:  2024-07-10 20:36:41.131248
----------------------------------------
Fecha: 2 días antes de hoy:  2024-06-24 20:36:41.131248
Fecha: 2 semanas antes de hoy:  2024-06-12 20:36:41.131248

# **Fechas con pandas**

In [32]:
import pandas as pd
import datetime
import numpy as np

**.to_datetime()**

In [23]:
fecha = pd.to_datetime('24th April, 2022')
print(fecha)
print(type(fecha))

2022-04-24 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [24]:
print(fecha.date())
print('Día:', fecha.day)
print('Mes:', fecha.month)
print('Mes:', fecha.month_name())
print('Año:', fecha.year)

print('Hora', fecha.hour)
print('Minutos', fecha.minute)
print('Segundos', fecha.second)
print('Microsegundos', fecha.microsecond)

2022-04-24
Día: 24
Mes: 4
Mes: April
Año: 2022
Hora 0
Minutos 0
Segundos 0
Microsegundos 0

## <font color=#003d5c>_.to_timedelta()_ </font>
### Esta función nos permite calcular los días antes o después de una fecha determinada.

In [25]:
fecha_hoy = datetime.datetime.now()
print(fecha_hoy)

2024-06-26 20:47:09.440107

### La fecha del día siguiente

unit: str, optional
Denotes the unit of the arg for numeric arg. Defaults to "ns".

Possible values:

‘W’

‘D’ / ‘days’ / ‘day’

‘hours’ / ‘hour’ / ‘hr’ / ‘h’ / ‘H’

‘m’ / ‘minute’ / ‘min’ / ‘minutes’ / ‘T’

‘s’ / ‘seconds’ / ‘sec’ / ‘second’ / ‘S’

‘ms’ / ‘milliseconds’ / ‘millisecond’ / ‘milli’ / ‘millis’ / ‘L’

‘us’ / ‘microseconds’ / ‘microsecond’ / ‘micro’ / ‘micros’ / ‘U’

‘ns’ / ‘nanoseconds’ / ‘nano’ / ‘nanos’ / ‘nanosecond’ / ‘N’

In [28]:
print(fecha_hoy)
#Contar --> 4
#unit --> argumento que tiene la unidad de tiempo 'D' --. Días
print('La fecha dentro de 4 días será:', fecha_hoy + pd.to_timedelta(4, unit='D'))
print('La fecha dentro de 4 semanas será:', fecha_hoy + pd.to_timedelta(4, unit='W'))

2024-06-26 20:47:09.440107
La fecha dentro de 4 días será: 2024-06-30 20:47:09.440107
La fecha dentro de 4 semanas será: 2024-07-24 20:47:09.440107

## <font color=#003d5c>_.date_range()_ </font>
### Este método nos permite generar un rango de fechas.

In [29]:
#start --> cadena de texto fecha de inicio 
#end ---> cadena de texto fecha de final 
#freq --> Indica la frecuencia de tiempo 
fechas_inicio = pd.date_range(start='24/4/2022', end='24/5/2022', freq='D')
fechas_inicio

DatetimeIndex(['2022-04-24', '2022-04-25', '2022-04-26', '2022-04-27',
               '2022-04-28', '2022-04-29', '2022-04-30', '2022-05-01',
               '2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05',
               '2022-05-06', '2022-05-07', '2022-05-08', '2022-05-09',
               '2022-05-10', '2022-05-11', '2022-05-12', '2022-05-13',
               '2022-05-14', '2022-05-15', '2022-05-16', '2022-05-17',
               '2022-05-18', '2022-05-19', '2022-05-20', '2022-05-21',
               '2022-05-22', '2022-05-23', '2022-05-24'],
              dtype='datetime64[ns]', freq='D')

In [31]:
fechas_final = pd.date_range(start='24/5/2022', end='24/6/2022', freq='D')
fechas_final

DatetimeIndex(['2022-05-24', '2022-05-25', '2022-05-26', '2022-05-27',
               '2022-05-28', '2022-05-29', '2022-05-30', '2022-05-31',
               '2022-06-01', '2022-06-02', '2022-06-03', '2022-06-04',
               '2022-06-05', '2022-06-06', '2022-06-07', '2022-06-08',
               '2022-06-09', '2022-06-10', '2022-06-11', '2022-06-12',
               '2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16',
               '2022-06-17', '2022-06-18', '2022-06-19', '2022-06-20',
               '2022-06-21', '2022-06-22', '2022-06-23', '2022-06-24'],
              dtype='datetime64[ns]', freq='D')

In [34]:
#Fecha de inicio --> inicia la campaña de ventas de un producto  
#Fecha de final --> cuando finaliza la campaña de ventas del producto

lista = []

for i in range(15):
    lista.append(np.random.randint(2))

print(lista)
#Valor 0 estados producto, categoria 0
#Valor 1 estados producto, categoria 1

df = pd.DataFrame()
df['Inicio_campaña'] = fechas_inicio[:15]
df['Final_campaña'] = fechas_final[:15]
df['Producto'] = lista

df

[1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1]

   Inicio_campaña Final_campaña  Producto
0      2022-04-24    2022-05-24         1
1      2022-04-25    2022-05-25         1
2      2022-04-26    2022-05-26         0
3      2022-04-27    2022-05-27         0
4      2022-04-28    2022-05-28         0
5      2022-04-29    2022-05-29         1
6      2022-04-30    2022-05-30         0
7      2022-05-01    2022-05-31         0
8      2022-05-02    2022-06-01         0
9      2022-05-03    2022-06-02         1
10     2022-05-04    2022-06-03         1
11     2022-05-05    2022-06-04         1
12     2022-05-06    2022-06-05         1
13     2022-05-07    2022-06-06         1
14     2022-05-08    2022-06-07         1

In [35]:
df['Día_inicio'] = df['Inicio_campaña'].dt.day
df['Mes_inicio'] = df['Inicio_campaña'].dt.month
df['Año_inicio'] = df['Inicio_campaña'].dt.year
df['Hora_inicio'] = df['Inicio_campaña'].dt.hour
df['Minutos_inicio'] = df['Inicio_campaña'].dt.minute
df['Segundos_inicio'] = df['Inicio_campaña'].dt.second

df['Semana_día_inicio'] = df['Inicio_campaña'].dt.weekday
df['Duración_campaña'] = df['Final_campaña'] - df['Inicio_campaña']

df

,Inicio_campaña,Final_campaña,Producto,Día_inicio,Mes_inicio,Año_inicio,Hora_inicio,Minutos_inicio,Segundos_inicio,Semana_día_inicio,Duración_campaña
0,2022-04-24,2022-05-24,1,24,4,2022,0,0,0,6,30 days
1,2022-04-25,2022-05-25,1,25,4,2022,0,0,0,0,30 days
2,2022-04-26,2022-05-26,0,26,4,2022,0,0,0,1,30 days
3,2022-04-27,2022-05-27,0,27,4,2022,0,0,0,2,30 days
4,2022-04-28,2022-05-28,0,28,4,2022,0,0,0,3,30 days
5,2022-04-29,2022-05-29,1,29,4,2022,0,0,0,4,30 days
6,2022-04-30,2022-05-30,0,30,4,2022,0,0,0,5,30 days
7,2022-05-01,2022-05-31,0,1,5,2022,0,0,0,6,30 days
8,2022-05-02,2022-06-01,0,2,5,2022,0,0,0,0,30 days
9,2022-05-03,2022-06-02,1,3,5,2022,0,0,0,1,30 days
10,2022-05-04,2022-06-03,1,4,5,2022,0,0,0,2,30 days
11,2022-05-05,2022-06-04,1,5,5,2022,0,0,0,3,30 days
12,2022-05-06,2022-06-05,1,6,5,2022,0,0,0,4,30 days
13,2022-05-07,2022-06-06,1,7,5,2022,0,0,0,5,30 days
14,2022-05-08,2022-06-07,1,8,5,2022,0,0,0,6,30 days

In [37]:
df.columns = ['Inicio_campaña', 'Fin_campaña', 'Target','Día de inicio','Mes de inicio','Año de inicio','Hora_inicio',
              'Minuto_inicio','Segundo_inicio','Día de la semana del inicio','Duración']

In [38]:
df

,Inicio_campaña,Fin_campaña,Target,Día de inicio,Mes de inicio,Año de inicio,Hora_inicio,Minuto_inicio,Segundo_inicio,Día de la semana del inicio,Duración
0,2022-04-24,2022-05-24,1,24,4,2022,0,0,0,6,30 days
1,2022-04-25,2022-05-25,1,25,4,2022,0,0,0,0,30 days
2,2022-04-26,2022-05-26,0,26,4,2022,0,0,0,1,30 days
3,2022-04-27,2022-05-27,0,27,4,2022,0,0,0,2,30 days
4,2022-04-28,2022-05-28,0,28,4,2022,0,0,0,3,30 days
5,2022-04-29,2022-05-29,1,29,4,2022,0,0,0,4,30 days
6,2022-04-30,2022-05-30,0,30,4,2022,0,0,0,5,30 days
7,2022-05-01,2022-05-31,0,1,5,2022,0,0,0,6,30 days
8,2022-05-02,2022-06-01,0,2,5,2022,0,0,0,0,30 days
9,2022-05-03,2022-06-02,1,3,5,2022,0,0,0,1,30 days
10,2022-05-04,2022-06-03,1,4,5,2022,0,0,0,2,30 days
11,2022-05-05,2022-06-04,1,5,5,2022,0,0,0,3,30 days
12,2022-05-06,2022-06-05,1,6,5,2022,0,0,0,4,30 days
13,2022-05-07,2022-06-06,1,7,5,2022,0,0,0,5,30 days
14,2022-05-08,2022-06-07,1,8,5,2022,0,0,0,6,30 days

In [39]:
df['Día_de_duración'] = df['Duración']/datetime.timedelta(days=1)
df['Minutos_de_duración'] = df['Duración']/datetime.timedelta(minutes=1)
df['Segundos_de_duración'] = df['Duración']/datetime.timedelta(seconds=1)

df

,Inicio_campaña,Fin_campaña,Target,Día de inicio,Mes de inicio,Año de inicio,Hora_inicio,Minuto_inicio,Segundo_inicio,Día de la semana del inicio,Duración,Día_de_duración,Minutos_de_duración,Segundos_de_duración
0,2022-04-24,2022-05-24,1,24,4,2022,0,0,0,6,30 days,30.0,43200.0,2592000.0
1,2022-04-25,2022-05-25,1,25,4,2022,0,0,0,0,30 days,30.0,43200.0,2592000.0
2,2022-04-26,2022-05-26,0,26,4,2022,0,0,0,1,30 days,30.0,43200.0,2592000.0
3,2022-04-27,2022-05-27,0,27,4,2022,0,0,0,2,30 days,30.0,43200.0,2592000.0
4,2022-04-28,2022-05-28,0,28,4,2022,0,0,0,3,30 days,30.0,43200.0,2592000.0
5,2022-04-29,2022-05-29,1,29,4,2022,0,0,0,4,30 days,30.0,43200.0,2592000.0
6,2022-04-30,2022-05-30,0,30,4,2022,0,0,0,5,30 days,30.0,43200.0,2592000.0
7,2022-05-01,2022-05-31,0,1,5,2022,0,0,0,6,30 days,30.0,43200.0,2592000.0
8,2022-05-02,2022-06-01,0,2,5,2022,0,0,0,0,30 days,30.0,43200.0,2592000.0
9,2022-05-03,2022-06-02,1,3,5,2022,0,0,0,1,30 days,30.0,43200.0,2592000.0
10,2022-05-04,2022-06-03,1,4,5,2022,0,0,0,2,30 days,30.0,43200.0,2592000.0
11,2022-05-05,2022-06-04,1,5,5,2022,0,0,0,3,30 days,30.0,43200.0,2592000.0
12,2022-05-06,2022-06-05,1,6,5,2022,0,0,0,4,30 days,30.0,43200.0,2592000.0
13,2022-05-07,2022-06-06,1,7,5,2022,0,0,0,5,30 days,30.0,43200.0,2592000.0
14,2022-05-08,2022-06-07,1,8,5,2022,0,0,0,6,30 days,30.0,43200.0,2592000.0

**Timestamp- DatetimeIndex**

In [47]:
fechas = pd.date_range(start='2022-01-01',end='2022-01-10',freq='D')
datos = [10, 20, 15, 25, 30, 22, 18, 27, 29, 35]
serie_temporal = pd.Series(datos, index=fechas)
print(serie_temporal)

#Acceder a datos utilizando fechas 
dato_1 = serie_temporal['2022-01-05']
rango_fechas = serie_temporal['2022-01-03':'2022-01-08']

#Resampling y frecuencias temporales 
resample_semana = serie_temporal.resample('W').mean()
resample_semana

#operación 

dias_trancurridos = serie_temporal.index.max() - serie_temporal.index.min()
print(dias_trancurridos)

2022-01-01    10
2022-01-02    20
2022-01-03    15
2022-01-04    25
2022-01-05    30
2022-01-06    22
2022-01-07    18
2022-01-08    27
2022-01-09    29
2022-01-10    35
Freq: D, dtype: int64
9 days 00:00:00

In [49]:
#desplazar las fechas en un índice
fechas_desplazadas = serie_temporal.index + pd.to_timedelta(5, unit='d')
fechas_desplazadas

#Calculo de frecuencia mensual 
conteo_mensual = serie_temporal.resample('ME').count()
conteo_mensual

2022-01-31    10
Freq: ME, dtype: int64

**Zonas horarias**